<%- include('../includes/header') %>

<link rel="stylesheet" href="../../assets/stylesheet/style.css">

</head>

<body>
    <%- include('../includes/navbar') %>

    <div class="container-fluid bg-3">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form method="POST" action="/contact/add-new-airline" enctype="multipart/form-data">
                    <h1 class="display-4">Airline Information</h1>
                    <br>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputAirlineName">Airline Name</label>
                            <input type="text" class="form-control" placeholder="Airline Name" name="airlineName"
                                required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputAirlineNation">Airline Nationality</label>
                            <input type="text" class="form-control" placeholder="Airline Nationality"
                                name="airlineNationality" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputAirlineEmail">Airline Email</label>
                            <input type="text" class="form-control" placeholder="Airline Email" name="airlineEmail"
                                required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAirlineAddress">Airline Address</label>
                        <input type="text" class="form-control" placeholder="Airline Address" name="airlineAddress"
                            required>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAirlineTel">Airline Telephone Number</label>
                            <input type="tel" class="form-control" placeholder="Airline Telephone Number"
                                name="airlineTelNumber" maxlength="10" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputAirlineContact">Airline Contact Number</label>
                            <input type="tel" class="form-control" placeholder="Airline Contact Number"
                                name="airlineContactNumber" maxlength="10" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAirlineDes">Airline Description</label>
                        <textarea class="form-control" placeholder="Enter description here..." name="airlineDescription"
                            required></textarea>
                        <small id="descriptionInfo" class="form-text text-muted">
                            Description for tell your information, in bussiness term
                        </small>
                    </div>
                    <div class="form-row d-flex align-items-end" id="field1" style="display: none;">
                        <div class="form-group col-md-3">
                            <label for="">Airline Seat Type</label>
                            <select class="form-control" name="airlineSeatType1">
                                <option value="0">---Choose an option---</option>
                                <option value="1">First Class</option>
                                <option value="2">Business Class</option>
                                <option value="3">Economy Class</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">Airline Seat Min Price</label>
                            <input type="text" class="form-control" placeholder="Airline Seat Min Price"
                                name="airlineSeatMinPrice1">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">Airline Seat Max Price</label>
                            <input type="text" class="form-control" placeholder="Airline Seat Max Price"
                                name="airlineSeatMaxPrice1">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="">Airline Seat Picture</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile1"
                                    name="airlineSeatTypePicture1">
                                <label class="custom-file-label" for="customFile">Choose file...</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row" id="field2" style="display: none;">
                        <div class="form-group col-md-3">
                            <select class="form-control" name="airlineSeatType2">
                                <option value="0">---Choose an option---</option>
                                <option value="1">First Class</option>
                                <option value="2">Business Class</option>
                                <option value="3">Economy Class</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" placeholder="Airline Seat Min Price"
                                name="airlineSeatMinPrice2">
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" placeholder="Airline Seat Max Price"
                                name="airlineSeatMaxPrice2">
                        </div>
                        <div class="form-group col-md-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile2"
                                    name="airlineSeatTypePicture2">
                                <label class="custom-file-label" for="customFile">Choose file...</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row" id="field3" style="display: none;">
                        <div class="form-group col-md-3">
                            <select class="form-control" name="airlineSeatType3">
                                <option value="0">---Choose an option---</option>
                                <option value="1">First Class</option>
                                <option value="2">Business Class</option>
                                <option value="3">Economy Class</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" placeholder="Airline Seat Min Price"
                                name="airlineSeatMinPrice3">
                        </div>
                        <div class="form-group col-md-3">
                            <input type="text" class="form-control" placeholder="Airline Seat Max Price"
                                name="airlineSeatMaxPrice3">
                        </div>
                        <div class="form-group col-md-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile1"
                                    name="airlineSeatTypePicture1">
                                <label class="custom-file-label" for="customFile">Choose file...</label>
                            </div>
                        </div>
                    </div>
                    <label onclick="add()" class="btn btn-info d-flex justify-content-center">ADD &plus;</label>
                    <label onclick="remove()" class="btn btn-danger d-flex justify-content-center">REMOVE
                        &minus;</label>
                    <div class="form-group">
                        <label for="inputAirlineDes">Airplane Description</label>
                        <textarea class="form-control" placeholder="Enter airplane information here..."
                            name="airlinePlaneDes" required></textarea>
                        <small id="descriptionInfo" class="form-text text-muted">
                            short description for your airplane information
                        </small>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputAirlineProfile">Airline Profile</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" name="airlineProfile">
                                <label class="custom-file-label" for="customFile">Choose file...</label>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputAirlinePic">Airline Picture</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" name="airlinePicture">
                                <label class="custom-file-label" for="customFile">Choose file...</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                            onclick="optional()">
                        <label class="form-check-label" for="defaultCheck1">
                            If your airline have logo click here
                        </label>
                    </div>
                    <div class="form-row" id="hiddenLogo">
                        <div class="form-group col-md-6">
                            <label for="inputAirlineLogo">Airline Logo</label>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" name="airlineLogo">
                                <label class="custom-file-label" for="customFile">Choose file...</label>
                            </div>
                        </div>
                    </div>
                    <label class="btn btn-primary" onclick="submitForm()">Sent Your Information</label>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <script src="../../assets/js/contact1Airline.js"></script>
    <%- include('../includes/footer') %>