<%- include('../includes/header') %>

  <link rel="stylesheet" href="../../assets/stylesheet/style.css">
</head>

<body>
  <%- include('../includes/navbar') %>
    <div class="container-fluid bg-3">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <form method="POST" action="/contact/add-new-hotel" enctype="multipart/form-data">
            <h1 class="display-4">Hotel Information</h1>
            <br>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputHotelName">Hotel Name</label>
                <input type="text" class="form-control" placeholder="Hotel Name" name="hotelName" required="required">
              </div>
              <div class="form-group col-md-6">
                <label for="inputHotelEmail">Hotel Email</label>
                <input type="text" class="form-control" placeholder="Hotel Email" name="hotelEmail" required="required">
              </div>
            </div>
            <div class="form-group">
              <label for="inputHotelAddress">Hotel Address</label>
              <input type="text" class="form-control" placeholder="Hotel Address" name="hotelAddress" required="required">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputHotelTel">Hotel Telephone Number</label>
                <input type="tel" class="form-control" placeholder="Hotel Telephone Number" name="hotelTelNumber" maxlength="10" required="required">
              </div>
              <div class="form-group col-md-6">
                <label for="inputHotelContact">Hotel Contact Number</label>
                <input type="tel" class="form-control" placeholder="Hotel Contact Number" name="hotelContactNumber" maxlength="10" required="required">
              </div>
            </div>
            <div class="form-group">
              <label for="inputHotelDes">Hotel Description</label>
              <textarea class="form-control" placeholder="Enter description here..." name="hotelDescription" required="required"></textarea>
              <small id="descriptionInfo" class="form-text text-muted">
                short description for your hotel information
              </small>
            </div>
            <div class="form-row field">
              <div class="form-group col-md-4">
                <label for="">Hotel Room Type</label><br>
                <select name="hotelRoomType" class="form-control">
                  <option value="">---Choose an option---</option>
                  <option value="1 Single-bed" selected="selected">1 Single-Bed</option>
                  <option value="2 Single-Bed">2 Single-Bed</option>
                  <option value="1 Double-Bed">1 Double-Bed</option>
                  <option value="2 Double-Bed">2 Double-Bed</option>
                  <option value="1 King size-bed">1 King size-bed</option>
                  <option value="2 King size-bed">2 King size-bed</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label for="">Hotel Room Price</label>
                <input type="text" class="form-control" placeholder="Hotel Room Price" name="hotelRoomPrice"> 
              </div>
              <div class="form-group col-md-4">
                <label for="inputHotelRoomPic">Hotel Room Picture</label>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile" name="hotelRoomPicture">
                  <label class="custom-file-label" for="customFile">Choose file...</label>
                </div>
              </div>
              <div class="col-md-1 addMore">
                <button id="addButton1" class="btn btn-info">Add</button>
              </div>
            </div>
            <div class="form-row" id="field2" style="display: none;">
              <div class="form-group col-md-4">
                <select name="hotelRoomType2" class="form-control">
                  <option value="">---Choose an option---</option>
                  <option value="1 Single-bed">1 Single-Bed</option>
                  <option value="2 Single-Bed" selected="selected">2 Single-Bed</option>
                  <option value="1 Double-Bed">1 Double-Bed</option>
                  <option value="2 Double-Bed">2 Double-Bed</option>
                  <option value="1 King size-bed">1 King size-bed</option>
                  <option value="2 King size-bed">2 King size-bed</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <input type="text" class="form-control" placeholder="Hotel Room Price" name="hotelRoomPrice2">
              </div>
              <div class="form-group col-md-4">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile" name="hotelRoomPicture2">
                  <label class="custom-file-label" for="customFile">Choose file...</label>
                </div>
              </div>
              <div class="col-md-1">
                <button id="addButton2" class="btn btn-info">Add</button>
              </div>
            </div>
            <div class="form-row" id="field3" style="display: none;">
              <div class="form-group col-md-4">
                <select name="hotelRoomType3" class="form-control">
                  <option value="">---Choose an option---</option>
                  <option value="1 Single-bed">1 Single-Bed</option>
                  <option value="2 Single-Bed">2 Single-Bed</option>
                  <option value="1 Double-Bed"  selected="selected" >1 Double-Bed</option>
                  <option value="2 Double-Bed">2 Double-Bed</option>
                  <option value="1 King size-bed">1 King size-bed</option>
                  <option value="2 King size-bed">2 King size-bed</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <input type="text" class="form-control" placeholder="Hotel Room Price" name="hotelRoomPrice3">
              </div>
              <div class="form-group col-md-4">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile" name="hotelRoomPicture3">
                  <label class="custom-file-label" for="customFile">Choose file...</label>
                </div>
              </div>
              <div class="col-md-1">
                <button id="addButton3" class="btn btn-info">Add</button>
              </div>
            </div>
            <div class="form-row" id="field4" style="display: none;">
              <div class="form-group col-md-4">
                <select name="hotelRoomType4" class="form-control">
                  <option value="">---Choose an option---</option>
                  <option value="1 Single-bed">1 Single-Bed</option>
                  <option value="2 Single-Bed">2 Single-Bed</option>
                  <option value="1 Double-Bed">1 Double-Bed</option>
                  <option value="2 Double-Bed"  selected="selected">2 Double-Bed</option>
                  <option value="1 King size-bed">1 King size-bed</option>
                  <option value="2 King size-bed">2 King size-bed</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <input type="text" class="form-control" placeholder="Hotel Room Price" name="hotelRoomPrice4">
              </div>
              <div class="form-group col-md-4">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile" name="hotelRoomPicture4">
                  <label class="custom-file-label" for="customFile">Choose file...</label>
                </div>
              </div>
              <div class="col-md-1">
                <button id="addButton4" class="btn btn-info">Add</button>
              </div>
            </div>
            <div class="form-row" id="field5" style="display: none;">
              <div class="form-group col-md-4">
                <select name="hotelRoomType5" class="form-control">
                  <option value="">---Choose an option---</option>
                  <option value="1 Single-bed">1 Single-Bed</option>
                  <option value="2 Single-Bed">2 Single-Bed</option>
                  <option value="1 Double-Bed">1 Double-Bed</option>
                  <option value="2 Double-Bed">2 Double-Bed</option>
                  <option value="1 King size-bed"  selected="selected">1 King size-bed</option>
                  <option value="2 King size-bed">2 King size-bed</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <input type="text" class="form-control" placeholder="Hotel Room Price" name="hotelRoomPrice5">
              </div>
              <div class="form-group col-md-4">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile" name="hotelRoomPicture5">
                  <label class="custom-file-label" for="customFile">Choose file...</label>
                </div>
              </div>
              <div class="col-md-1">
                <button id="addButton5" class="btn btn-info">Add</button>
              </div>
            </div>
            <div class="form-row" id="field6" style="display: none;">
              <div class="form-group col-md-4">
                <select name="hotelRoomType6" class="form-control">
                  <option value="">---Choose an option---</option>
                  <option value="1 Single-bed">1 Single-Bed</option>
                  <option value="2 Single-Bed">2 Single-Bed</option>
                  <option value="1 Double-Bed">1 Double-Bed</option>
                  <option value="2 Double-Bed">2 Double-Bed</option>
                  <option value="1 King size-bed">1 King size-bed</option>
                  <option value="2 King size-bed"  selected="selected">2 King size-bed</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <input type="text" class="form-control" placeholder="Hotel Room Price" name="hotelRoomPrice6">
              </div>
              <div class="form-group col-md-4">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile" name="hotelRoomPicture6">
                  <label class="custom-file-label" for="customFile">Choose file...</label>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputHotelProfile">Hotel Profile</label>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile" name="hotelProfile">
                  <label class="custom-file-label" for="customFile">Choose file...</label>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="inputHotelPic">Hotel Picture</label>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile" name="hotelPicture">
                  <label class="custom-file-label" for="customFile">Choose file...</label>
                </div>
              </div>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" onclick="optional()">
              <label class="form-check-label" for="defaultCheck1">
                If your hotel have logo click here
              </label>
            </div>
            <div class="form-row" id="hiddenLogo">
              <div class="form-group col-md-6">
                <label for="inputHotelLogo">Hotel Logo</label>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="customFile" name="hotelLogo">
                  <label class="custom-file-label" for="customFile">Choose file...</label>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" value="submit">Sent Your Information</button>
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
    <script src="../../assets/js/contact.js"></script>
    <%- include('../includes/footer') %>
