<%- include('../includes/header') %>
<link rel="stylesheet" href="../../assets/stylesheet/style.css">
</head>

<body>
  <%- include('../includes/navbar') %>
  <div class="container-fluid vertical-center">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">WAIT FOR IT</h1>
      </div>
      <div class="col-md-12">
        <br>
        <a href="/contact/add-new-hotel" class="btn btn-success" role="button">New Hotel</a>
        <a href="/contact/add-new-airline" class="btn btn-danger" role="button">New Airline</a>
        <a href="/contact/dashboard" class="btn btn-info" role="button">Information Flow</a>
      </div>
    </div>
  </div>
  <%- include('../includes/footer') %>