<%- include('../includes/header') %>
<%- include('../includes/navbar') %>
<link rel="stylesheet" href="../../assets/stylesheet/style.css">
</head>

<body>
    <div class="container">
        <h2 class="text-center pt-4">New Hotel</h2>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-2">
                        <a class="float-left"
                            href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>Hotel Name</strong></a>
                        <p class="float-left">01/01/2001</p>
                    </div>
                    <div class="col-md-8">
                        <div class="clearfix"></div>
                        <p class="reviewtext">Lorem Ipsum is simply dummy text of the pr make but also the leap into
                            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                            desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                    <div class="col-md-2">
                        <div class="clearfix"></div>
                        <a href="hotelDetail" class="btn btn-info" role="button">Show more</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <a class="float-left"
                                href="https://maniruzzaman-akash.blogspot.com/p/contact.html"><strong>New Hotel</strong></a>
                            <p class="float-left">02/01/2001</p>
                        </div>
                        <div class="col-md-8">
                            <div class="clearfix"></div>
                            <p>Lorem Ipsum is simply dummy text of the pr make but also the leap into electronic
                                typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                                release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                                desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="col-md-2">
                            <div class="clearfix"></div>
                            <a href="hotelDetail" class="btn btn-info" role="button">Show more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('../includes/footer') %>