<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/menu %>
  <div class="container-fluid vertical-center">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">WAIT FOR IT</h1>
      </div>
      <div class="col-md-12">
        <br>
        <a href="newHotelInfo" class="btn btn-success" role="button">New Hotel</a>
        <a href="newAirlineInfo" class="btn btn-danger" role="button">New Airline</a>
        <a href="informationFlow" class="btn btn-info" role="button">Information Flow</a>
      </div>
    </div>
  </div>
</body>
<% include partials/script %>

</html>