<%- include('includes/header') %>
<%- include('includes/navbar') %>

</head>



<body>
    <div class="page-wrapper bg-img-1 p-t-200 p-b-120">
        <div class="wrapper wrapper--w900">
            <div class="card card-4">
                    <ul class="tab-list">
                            <a style="font-size: 35px;" class="tab-list__link" href="#tab3" data-toggle="tab">Flight</a>
                        </li>
                    </ul>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane-active" id="tab3">
                            <form method="GET" action="#">
                                <div class="input-group input-group-big">
                                    <label class="label">Origin:</label>
                                    <input class="input--style-1" type="text" name="origin" placeholder="City or airport" required="required">
                                    <i class="zmdi zmdi-search input-group-symbol"></i>
                                </div>
                                <div class="input-group input-group-big">
                                    <label class="label">Destination:</label>
                                    <input class="input--style-1" type="text" name="destination" placeholder="City or airport" required="required">
                                    <i class="zmdi zmdi-search input-group-symbol"></i>
                                </div>
                                <div class="row row-space">
                                    <div class="col-6">
                                        <div class="input-group">
                                            <label class="label">Departing:</label>
                                            <input class="input--style-1" type="text" name="check-in" placeholder="mm/dd/yyyy" id="input-start-2">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="input-group">
                                            <label class="label">Returning:</label>
                                            <input class="input--style-1" type="text" name="check-out" placeholder="mm/dd/yyyy" id="input-end-2">
                                        </div>
                                    </div>
                                </div>
                                <div class="radio-row">
                                    <label class="radio-container m-r-45">First Class
                                        <input type="radio" name="class">
                                        <span class="radio-checkmark"></span>
                                    </label>
                                    <label class="radio-container m-r-45">Business
                                        <input type="radio" name="class">
                                        <span class="radio-checkmark"></span>
                                    </label>
                                    <label class="radio-container">Economy
                                        <input type="radio" checked="checked" name="class">
                                        <span class="radio-checkmark"></span>
                                    </label>
                                </div>
                                <button class="btn-submit m-t-35" type="submit">search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            </div <%- include('includes/footer') %> <%- include('includes/footer') %>