<%- include('includes/header') %>
<%- include('includes/navbar') %>

</head>

<div class="container mt-3">
    <h1>TravelAloha</h1>
    <p>Start your dream trip here!</p>
    <p>flight</p>
    <a href="http://localhost:3000/review/flight">click</a>
    <p>Hotel</p>
    <a href="http://localhost:3000/review/hotel">click</a>
</div>

<%- include('includes/footer') %>
