<%- include('includes/header') %>
<%- include('includes/navbar') %>

</head>

<div class="container mt-3">
    <h1>TravelLocha</h1>
    <p>Start your dream trip here!</p>
</div>
<center>
   <div class="form-group">
    <form action="/find" method="POST">
        <input class="form-group" type="text" name="place" placeholder="Where do you wanna go?">
        <input class="form-group" type="text" name="daterange" value="01/01/2018 - 01/15/2018" />
        <button type="submit" class="btn btn-info">Go!</button>
    </form>
    </div>
</center>
<script src="/assets/js/landing.js"></script>
<%- include('includes/footer') %>
