<%- include('includes/header') %>

</head>

<body>
    
        <%- include('includes/navbar') %>
        
<div class="container mt-3">
    <h1 class="display-3">TravelAloha</h1>
    <p>Version: 2019-11-19 15:10:00</p>
    <hr>

    <h2>Admin Routes</h2>
    <ul>
        <li><a href="/admin" target="_blank">/admin - Admin Dashboard</a></li>
        <li><a href="/admin/coupon" target="_blank">/admin/coupon - Coupon Management</a></li>
        <li><a href="/admin/hotel" target="_blank">/admin/hotel - Hotel Management</a></li>
        <li><a href="/admin/flight" target="_blank">/admin/flight - Flight Management</a></li>
        <li><a href="/admin/staff" target="_blank">/admin/staff - Staff Administrator</a></li>
        <li><a href="/admin/user" target="_blank">/admin/user - User Management</a></li>

    </ul>

    <h2>Checkout Routes</h2>
    <ul>
        <li><a href="/checkout" target="_blank">/checkout - Checkout</a></li>
    </ul>

    <h2>Contact Routes</h2>
    <ul>
        <li><a href="/contact" target="_blank">/contact - Contact</a></li>
        <li><a href="/contact/add-new-airline" target="_blank">/contact/add-new-airline - Register New Airline</a></li>
        <li><a href="/contact/add-new-hotel" target="_blank">/contact/add-new-hotel - Register New Hotel</a></li>
        <li><a href="/contact/dashboard" target="_blank">/contact/dashboard - Contact Dashboard</a></li>
        <li><a href="/contact/dashboard/detail" target="_blank">/contact/dashboard/detail - New Hotel Detail</a></li>
    </ul>

    <h2>Hotel Routes</h2>
    <ul>
        <li><a href="/hotel/booking" target="_blank">/hotel/booking - Hotel Booking</a></li>
        <li><a href="/hotel/booking/payment" target="_blank">/hotel/booking/payment - Hotel Booking - Payment</a></li>
    </ul>

    <h2>Flight Routes</h2>
    <ul>
        <li><a href="/flight" target="_blank">/flight - Flight</a></li>
        <li><a href="/flight/booking" target="_blank">/flight/booking - Flight Booking</a></li>
        <li><a href="/flight/booking/contact" target="_blank">/flight/booking/contact - Flight Booking - Contact</a></li>
    </ul>

    <h2>Review Routes</h2>
    <ul>
        <li><a href="/review/hotel" target="_blank">/review/hotel - Review - Hotel</a></li>
        <li><a href="/review/flight" target="_blank">/review/flight - Review - Flight</a></li>
    </ul>

    <h2>User Dashboard Routes</h2>
    <ul>
        <li><a href="/dashboard/favorite" target="_blank">/dashboard/favorite - User Dashboard Favorite</a></li>
        <li><a href="/dashboard/history" target="_blank">/dashboard/history - User Dashboard History</a></li>
        <li><a href="/dashboard/history/hotel" target="_blank">/dashboard/history/hotel - User Dashboard History for Hotel</a></li>
        <li><a href="/dashboard/history/flight" target="_blank">/dashboard/history/flight - User Dashboard History for Flight</a></li>
    </ul>
    
</div>

<%- include('includes/footer') %>
