<%- include('includes/header') %>
<%- include('includes/navbar') %>

</head>

<div class="container mt-3">
    <h1>Results of to go to: <%= user.username %></h1>
    <p>Go back to <a href="/">main page</a></p>
</div>

<%- include('includes/footer') %>
