<%- include('../includes/header') %>
<%- include('../includes/navbar') %>

</head>

<body>

    <div class="container mt-3">
        <h1>TravelAloha</h1>
        <p>Thank you to use my service</p>
    </div>

    <%- include('../includes/footer') %>
