.success-color{
    background-color: #388BF2;
    color: white;
  }
  .form-check{
    margin-bottom: 20px !important;
  }
  #hiddenLogo{
    display: none;
  }
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .hotel-pic{
    width: 100%;
    height: auto;
    background: no-repeat center;
    background-size: contain;
  }
  h1{
    color: #25282B;
  }