<%- include('includes/header') %>
<%- include('includes/navbar') %>

</head>

<body>

<div class="container mt-3">
    <h1>Bad Request</h1>
    <p>Go back to <a href="/">main page</a></p>
</div>

<%- include('includes/footer') %>
