<%- include('../includes/header') %>
</head>

<body>

<%- include('../includes/navbar') %>

<div class="container mt-3">
  <div class="row">
    <h1>Register</h1>
  </div>

  <form action="/register" method="POST">
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        name="username"
        placeholder="Username"
        required
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Password"
        required
      />
    </div>
    <div class="form-group">
      <label for="retypePassword">Retype Password</label>
      <input
        type="password"
        class="form-control"
        id="retypePassword"
        name="retypePassword"
        placeholder="Retype Password"
        required
      />
    </div>
    <h1 class="border-bottom">User Informantion</h1>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstname">First name</label>
        <input 
          type="text" 
          class="form-control"
          id="firstname"
          name="firstname"
          placeholder="First name"
          required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="lastname">Last name</label>
        <input 
          type="text" 
          class="form-control"
          id="lastname"
          name="lastname"
          placeholder="Last name"
          required
        />  
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstname">Birth date</label>
        <input 
            type="date" 
            class="form-control"
            id="birth_date"
            name="birth_date"
            placeholder="birthdate"
            required
        />
      </div>
      <div class="form-group col-md-6">
        <label for="gender">Gender</label>
        <select class="form-control" name="gender" id="gender">
          <option value="" selected>select gender</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
      </div>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <textarea class="form-control" id="address" name="address" rows="3"></textarea>
      </div>
    <button type="submit" class="btn btn-info">Register</button>
  </form>
</div>

<%- include('../includes/footer') %>
