* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  /* background: #114d96;
  background: -webkit-linear-gradient(to right, #114d96, #5ba0f5);
  background: linear-gradient(to right, #114d96, #5ba0f5); */
  /* background: white; */
  height: auto;
  background: linear-gradient(141deg, #fafafa 0%, #e8e8e8 51%, #cacccf 75%);
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.rounded-lg {
  border-radius: 1rem;
}

h1 {
  font-size: 56px;
  font-weight: 300;
  line-height: 68px;
  color: #25282b;
}

h2 {
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
  color: #25282b;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #25282b;
}

small {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  color: #a0a4a8;
}

/*=========BUTTON=============*/

.button {
  background-color: #388bf2; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button4 {
  border-radius: 12px;
}

.button4:hover {
  background-color: white;
  color: #5ba0f5;
}

/*=======FORM========*/

input[type="text"] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 20px;
}

input[type="text"]:focus {
  border: 3px solid #555;
}

/*=======CHART========*/
.counter {
  display: inline-flex;
  width: 300px;
  height: 300px;
  max-width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: calc(1em + 1vmin);
  transition: height 0.2s ease-in-out;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.2);
  margin: 1em 0;
}
.percentage {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 0;
  right: 0;
  vertical-align: middle;
  transform: translate3d(0, -50%, 0);
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
}
input {
  width: 200px;
}