/*HTML and <body>*/

/*Navbar classes*/
.ta-navbar a{
    color: #FFFFFF;
}
.ta-navbar{
    background-color: #388BF2;
    border-radius: 0;
    margin-bottom: 0%;
}

/*Left side*/
hr.hrColor{
    border-top: 1px #25282B solid;
}

.badge-level{
    background-color: #216bc4;
    padding: 10px;
    color: #FFFFFF;
}

.badge-points{
    background-color: #25282B;
    color: #FFFFFF;
    padding: 7px;
}

.badge-points-rank{
    padding: 7px;
}

.badge-gold{
    background-color: #D4AF37 ;
}

.badge-silver{
    background-color: #BEC2CB;
    color: #52575C;

}
.user-points{
    margin: 10px;
}

.user-level{
    margin: 10px;
}

.user-points .left{
    float: left;
}

.user-points .right{
    float: right;
}

.user-info{
    
    margin-top: 20px;
    
}


/*Right side*/
div.filter{
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    height: 110px;
    border-radius: 10px;
}

.ta-user-info{
    background-color: #DBEBFF;
    padding-bottom: 101.5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
}

.ta-user-history{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}

.ta-user-info .user-name{
    text-align: center;
    margin: 10px;
}

.ta-user-history h1{
    margin: 0px;
}
.history-list{
    margin-top: 30px;
}
.history-item{
    background: #DBEBFF;
    padding: 10px;
    padding-left: 0px;

    padding-right: 0px;
    border-style: solid;
    border-width: 0px;
    border-left-width: 7px ;
    border-color: #216bc4;
    margin: 15px;
    margin-left: 0px;
    margin-right: 0px;

    height: 85px;
}

.headerInfo{
    height: 65px;
}


.headerInfo .brief-info{
    width: 50%;
    float: left;
    padding: 2%;
    padding-top: 0px;
    padding-bottom: 0px;
    height: inherit;
}

.headerInfo .toDetail{
    width: 15%;
    float: right;
    text-align: center;
    padding: 0px;
    padding-top: 15px;
    height: inherit;
}

.headerInfo .icon{
    width: 10%;
    float: left;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    padding-top: 20px;
    height: inherit;
}
.headerInfo .status{
    width: 20%;
    float: left;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    padding-top: 20px;
}

.icon .book-icon{
    padding: 2%;
}


/*History status text*/
.status.paid{
    color: #109602 ;
}
.status.done{
    color: #216bc4;
}
.status.canceled{
    color: #db000f;
}

/*Image*/
img.hotel{
    width: 30px;
    height: 30px;
}

img.flight{
    width: 35px;
    height: 35px;
}

/*Filter*/
.filter .filter-check{
    float: left;
    width: 35%;
}

.filter .filter-type{
    border-left: #25282B, 1px, solid ;
    float: left;
    width: 20%;
}
.filter .filter-button{
    float: right;
    width: 15%;
    text-align: center;
    padding-top: 20px;
}

.pagerdiv{
    margin-top: 30px;
}

.pagerdiv .older{
    margin-right: 5px;
}

.pagerdiv .newer{
    margin-left: 5px;
}