body {
  color: #25282b;
}

.container {
  max-width: 800px;
}

.container-bordered {
	border: 1px solid #e8e8e8;
	padding: 1rem;
	width: 100%;
	margin-bottom: 2rem;
}

.row {
	width: 100%;
}

span {
	float: right;
}

.detail-container * {
	margin-bottom: 1rem;
}

.detail-list {
	margin-bottom: 2rem;
}

.btn-submit {
	background-color: #388bf2;
	margin-bottom: 2rem;
}

.hotel-booking-payment-form{
  display: none;
}

/* forms and utilities */
::placeholder {
	color: #cacccf;
}

@media only screen and (max-width: 320px) {
	.price-detail-list {
		font-size: 0.8rem;
	}
}
