body {
    overflow-x: hidden;
    font-family: roboto;
}

.container-fluid {
    background-image: radial-gradient(#dbebff,#216bc4,#5ba0f5,#388bf2,#114D96)
}

.sm-text {
    font-size: 10px;
    letter-spacing: 1px;
}

.sm-text-1 {
    font-size: 14px;
}
.green-star,.fivestar{
    color: #4CAF50;
    margin: 0.5px;
}
.yellow-star,.threestar{
    color: #FFD54F;
    margin: 0.5px;
}
.red-star,.onestar{
    color: #E64A19;
    margin: 0.5px;
}
.fourstar{
    color: rgb(157, 255, 0);
    margin: 0.5px;
}
.twostar{
    color: rgb(243, 139, 2);
    margin: 0.5px;
}
.green-tab {
    background-color: #00C853;
    color: #fff;
    border-radius: 5px;
    padding: 5px 3px 5px 3px;
}

.btn-red {
    background-color: #E64A19;
    color: #fff;
    border-radius: 20px;
    border: none;
    outline: none;
}

.btn-red:hover {
    background-color: #BF360C;
}

.btn-red:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.round-icon {
    font-size: 40px;
    padding-bottom: 10px;
}

.fa-circle {
    font-size: 10px;
    color: #EEEEEF;
}

.green-dot {
    color: #4CAF50;
}

.red-dot {
    color: #E64A19;
}

.yellow-dot {
    color: #FFD54F;
}

.grey-text {
    color: #BDBDBD;
}

.green-text {
    color: #4CAF50;
}
.red-text{
    color: #E64A19;
}
.yellow-text {
    color: #FFD54F;
}

.block {
    border-right: 1px solid #F5EEEE;
    border-top: 1px solid #F5EEEE;
    border-bottom: 1px solid #F5EEEE
}

.profile-pic img {
    border-radius: 50%;
}

.rating-dot {
    letter-spacing: 5px;
}

.via {
    border-radius: 20px;
    height: 28px
}
/*review card*/
.glyphicon { 
    margin-right:5px;
}
.rating .glyphicon {
    font-size: 22px;
}
.rating-num { 
    margin-top:0px;font-size: 54px; 
}
.progress { 
    margin-bottom: 5px;
}
.progress-bar { 
    text-align: left; 
}
.rating-desc .col-md-3 {
    padding-right: 0px;
}
.sr-only {
     margin-left: 5px;
     overflow: visible;
     clip: auto; 
}
.black-text{
    color:black;
}
.reviewpic{
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 5px;
        width: 125px;
}
.live-rating{
    display: inline;
}
.rangeslider{
    width: 50%;
    }
.myslider {
        -webkit-appearance: none;
        background: #FCF3CF  ;
        width: 50%;
        height: 20px;
        opacity: 2;
}
.myslider:hover {
    opacity: 1;
}
.myslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: #34495E  ;
    width: 5%;
    height: 20px;
}