body {
    overflow-x: hidden;
    font-family: roboto;
}

.container-fluid {
    background-image: radial-gradient(#dbebff,#216bc4,#5ba0f5,#388bf2,#114D96)
}

.sm-text {
    font-size: 10px;
    letter-spacing: 1px;
}

.sm-text-1 {
    font-size: 14px;
}
.green-star,.fivestar{
    color: #4CAF50;
    margin: 0.5px;
}
.yellow-star,.threestar{
    color: #FFD54F;
    margin: 0.5px;
}
.red-star,.onestar{
    color: #E64A19;
    margin: 0.5px;
}
.fourstar{
    color: rgb(157, 255, 0);
    margin: 0.5px;
}
.twostar{
    color: rgb(243, 139, 2);
    margin: 0.5px;
}
.green-tab {
    background-color: #00C853;
    color: #fff;
    border-radius: 5px;
    padding: 5px 3px 5px 3px;
}

.btn-red {
    background-color: #1ba0e2;
    color: #000;
    border-radius: 20px;
    border: none;
    outline: none;
}

.btn-red:hover {
    background-color: #235d9f;
    color: #fff;
}

.round-icon {
    font-size: 40px;
    padding-bottom: 10px;
}

.fa-circle {
    font-size: 10px;
    color: #EEEEEF;
}

.green-dot {
    color: #4CAF50;
}

.red-dot {
    color: #E64A19;
}

.yellow-dot {
    color: #FFD54F;
}

.grey-text {
    color: #BDBDBD;
}

.green-text {
    color: #4CAF50;
}

.block {
    border-right: 1px solid #F5EEEE;
    border-top: 1px solid #F5EEEE;
    border-bottom: 1px solid #F5EEEE
}

.profile-pic img {
    border-radius: 50%;
}

.rating-dot {
    letter-spacing: 5px;
}

.via {
    border-radius: 20px;
    height: 28px
}
/*review card*/

.rating .glyphicon {
    font-size: 22px;
}
.rating-num { 
    margin-top:0px;font-size: 54px; 
}
.progress { 
    margin-bottom: 5px;
}

.rating-desc .col-md-3 {
    padding-right: 0px;
}
.sr-only {
     margin-left: 5px;
     overflow: visible;
     clip: auto; 
}
.black-text{
    color:black;
}
.reviewpic{
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 5px;
        width: 125px;
}
.live-rating{
    display: inline;
}
.circlescore{
    background-color: #fff;
    border-radius: 50%;
    color: #fff;
    height: 128px;
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;
    width: 128px;
    border: 8px solid #235d9f;
    padding: 4px;
}
.circlescorein{
    background-color: #1ba0e2;
    border-radius: 50%;
    width: 104px;
    height: 104px;
    line-height: 104px;
    font-size: 56px;
    font-weight: 500;
    text-align: center;
}
.divcircle{
    display: block;
    float: left;
    width: 160px;
    padding: 0 16px;
} 
.textscore{
    color: #1ba0e2;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}
.white-tab{
    margin: 10px 20px 0px 20px;
}
.progressbar{
    margin: 10px 0px 10px 0px  
}
.scoretext{
    align-content: flex-end;
    text-align: right;
}

.rating {
    display: inline-block;
    width: 100%;
  }
  
  .like,
  .dislike {
    display: inline-block;
    cursor: pointer;
    margin: 10px;

  }
  
  .dislike:hover,
  .like:hover {
    color: #2EBDD1;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
  }
  
  .active {
    color: #2EBDD1;
  }

  .opitionby{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 16px;
    border: 1px solid #dadada;
    border-radius: 2px;
    display: block;
    position: relative;
    letter-spacing: .3px;
    box-sizing: inherit;
    margin: 0;
    font-size: 100%;
    font-weight: inherit;
}
.tableopition
{display: table;
width: 100%;} 
.pic{
    padding-right: 16px;
    vertical-align: top;
    display: table-cell;
}
.show{
    margin-top: 30px;
    margin-left: 20px;
}