.coupon {
  border: 5px dotted #114d96;
  border-radius: 15px;
  margin: 10px 10px;
  max-width: 300px;
  display:inline-block;
}

.coupon-container {
  padding: 2px 16px;
  background-color: #dbedff;
}

.coupon-container  h2{
  font-size: 16px;
  color: black;
  text-align: center;
}

.coupon-container  p{
  font-size: 14px;
  color: #52575c;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.promo {
  background: #ccc;
  color: black;
  margin: 5px;
  padding: 3px;
}

p.expire {
  color: #cf212a;
}

/*=== NEW TAB ===*/
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 0px;
  border: 1px solid #ccc;
  border-top: none;
  -webkit-animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@media screen and (max-width: 750px) {
  .coupon-container  h2{
    font-size: 12px;
    color: black;
    text-align: center;
    line-height: 20px;
  }
  .coupon-container  p{
    font-size: 10px;
    color: #52575c;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
  }
  p.expire {
    color: #cf212a;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .coupon{
    max-width:270px;
  }
  .coupon-container  h2{
    font-size: 14px;
    color: black;
    text-align: center;
    line-height: 20px;
    text-align: left;
  }
  .coupon-container  p{
    font-size: 10px;
    color: #52575c;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
  }
  p.expire {
    color: #cf212a;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1025px) {
  .coupon{
    max-width:300px;
  }
  .coupon-container  h2{
    font-size: 16px;
    color: black;
    text-align: center;
    line-height: 20px;
  }
  .coupon-container  p{
    font-size: 12px;
    color: #52575c;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
  }
  p.expire {
    color: #cf212a;
  }
}