<%- include('../includes/header') %>
<%- include('../includes/navbar') %>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../assets/css/result.css">
<link href="../../assets/js/result.js">

<!-- bootstrp -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
    }

    .row {
        height: 900px;
        width: 100%;
    }
</style>

<body>
    <div class="row">
        <div class="col-lg-12">
            <hr>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2">
            <div class=" card card-2" id="filter">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>filter bar</h1>

                        <div slider id="slider-distance">
                            <div>
                                <div inverse-left style="width:70%;"></div>
                                <div inverse-right style="width:70%;"></div>
                                <div range style="left:30%;right:40%;"></div>
                                <span thumb style="left:30%;"></span>
                                <span thumb style="left:60%;"></span>
                                <div sign style="left:30%;">
                                    <span id="value">30</span>
                                </div>
                                <div sign style="left:60%;">
                                    <span id="value">60</span>
                                </div>
                            </div>
                            <input type="range" tabindex="0" value="30" max="100" min="0" step="1" oninput="
                                            this.value=Math.min(this.value,this.parentNode.childNodes[5].value-1);
                                            var value=(100/(parseInt(this.max)-parseInt(this.min)))*parseInt(this.value)-(100/(parseInt(this.max)-parseInt(this.min)))*parseInt(this.min);
                                            var children = this.parentNode.childNodes[1].childNodes;
                                            children[1].style.width=value+'%';
                                            children[5].style.left=value+'%';
                                            children[7].style.left=value+'%';children[11].style.left=value+'%';
                                            children[11].childNodes[1].innerHTML=this.value;" />

                            <input type="range" tabindex="0" value="60" max="100" min="0" step="1" oninput="
                                            this.value=Math.max(this.value,this.parentNode.childNodes[3].value-(-1));
                                            var value=(100/(parseInt(this.max)-parseInt(this.min)))*parseInt(this.value)-(100/(parseInt(this.max)-parseInt(this.min)))*parseInt(this.min);
                                            var children = this.parentNode.childNodes[1].childNodes;
                                            children[3].style.width=(100-value)+'%';
                                            children[5].style.right=(100-value)+'%';
                                            children[9].style.left=value+'%';children[13].style.left=value+'%';
                                            children[13].childNodes[1].innerHTML=this.value;" />
                        </div>



                        <form class="form">
                            <!-- <div class="inputGroup">
                                        <input id="option1" name="option1" type="checkbox" />
                                        <label for="option1">Option One</label>
                                    </div>
                                    <div class="inputGroup">
                                        <input id="option2" name="option2" type="checkbox" />
                                        <label for="option2">Option Two</label>
                                    </div> -->
                            <br>
                            <div class="checkbox">
                                <label class="label">
                                    <input class="label__checkbox" type="checkbox" />
                                    <span class="label__text">
                                        <span class="label__check">
                                            <i class="fa fa-check icon"></i>
                                        </span>
                                    </span>
                                </label>
                                <label>option 1</label>
                            </div>

                            <div class="checkbox">
                                <label class="label">
                                    <input class="label__checkbox" type="checkbox" />
                                    <span class="label__text">
                                        <span class="label__check">
                                            <i class="fa fa-check icon"></i>
                                        </span>
                                    </span>
                                </label>
                                <label>option 1</label>
                            </div>
                            <div class="checkbox">
                                <label class="label">
                                    <input class="label__checkbox" type="checkbox" />
                                    <span class="label__text">
                                        <span class="label__check">
                                            <i class="fa fa-check icon"></i>
                                        </span>
                                    </span>
                                </label>
                                <label>option 1</label>
                            </div>
                            <div>
                                <label class="label">
                                    <input class="label__checkbox" type="checkbox" />
                                    <span class="label__text">
                                        <span class="label__check">
                                            <i class="fa fa-check icon"></i>
                                        </span>
                                    </span>
                                </label>
                                <label>option 1</label>
                            </div>
                            <div>
                                <label class="label">
                                    <input class="label__checkbox" type="checkbox" />
                                    <span class="label__text">
                                        <span class="label__check">
                                            <i class="fa fa-check icon"></i>
                                        </span>
                                    </span>
                                </label>
                                <label>option 1</label>
                            </div>


                        </form>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-lg-8">
            <div class=" card card-3">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="textresult">
                            <h3>Hotel Name</h3>
                            <h4>Hotel address</h4>
                            <h4>Hotel description</h4>
                            <h4>Hotel telNumber</h4>
                            <h1>Price</h1>
                            
                        </div>

                    </div>
                    <div class="col-lg-5">
                        <img src="../../assets/images/hotel.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include('../includes/footer') %>