
<link rel="stylesheet" href="../../assets/css/review.css">
<%- include('../includes/header') %>
<section class="review p-5 border-1">
    <div class="row d-flex">
        <div class="profile-pic"><img src="https://i.imgur.com/Mcd6HIg.jpg" width="60px"
                height="60px"></div>
        <div class="d-flex flex-column pl-3">
            <a class="black-text" href="#">
                <h4>Emily</h4>
            </a>
            <p class="grey-text">Thailand</p>
        </div>
    </div>
    <div class="d-flex justify-content-between mt-0 mb-0">
        <p class="font-weight-bold">31/10/11 &nbsp•&nbsp Business trip</p>
        <p class="text-right font-weight-bold">Score <span class="text-info">8.5</span>/10</p>
    </div>
    <div class="row pb-3">
        <p>This dive center is incredibly well organized and is at the top of its game.</p>
    </div>
    <div class="row ml-1">
        <img class="reviewpic"
            src="https://timedotcom.files.wordpress.com/2018/03/digital-nomad-remote-work-travel.jpg?w=800&quality=85"
            alt="" />
        <img class="reviewpic"
            src="https://timedotcom.files.wordpress.com/2018/03/digital-nomad-remote-work-travel.jpg?w=800&quality=85"
            alt="">
    </div>
    <div class="row mt-2">
            <div class="rating">
                    <!-- Thumbs up -->
                    <div class="like grow">
                      <i class="fa fa-thumbs-up like" aria-hidden="true"></i>
                      <span>Helpful</span>
                    </div>
                    
                    <!-- Thumbs down -->
                    <div class="dislike grow">
                      <i class="fa fa-thumbs-down like" aria-hidden="true"></i>
                      <span>Not helpful</span>
                    </div>
                  </div>                                      
    </div>
</section>


<%- include('../includes/footer') %>
<script src="../../assets/js/review.js"></script>
