<%- include('../includes/header') %>
<link rel="stylesheet" href="../../assets/css/styles-hotel-booking.css">
<%- include('../includes/navbar') %>
</head>

<div class="container mt-3">
   <div class="row">
      <h1>Room Booking</h1>
   </div>
</div>

<%- include('../includes/footer') %>