<%- include('../includes/header') %>

<link href="../../assets/css/booking_style.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


<%- include('../includes/navbar') %>

</head>

<body>
    <div class="container mt-3">
        <div class="card mb-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-9 flight-head">
                        <i class="fa fa-plane">&nbsp;</i>Bangkok&nbsp;<span class="airport-code">BKK</span>
                        <i class="fa fa-long-arrow-right"></i>
                        &nbsp;Chiang Mai&nbsp;<span class="airport-code">CNX</span>
                    </div>
                    <div class="align-bottom date text-right col-md-3">
                        03-Nov-2019
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <p class="col-md-10">
                                Sunday, 03-Nov-2019
                            </p>
                            <div class="col-md-2 text-right save-flight">
                                <i class="fa fa-bookmark-o" data-toggle="tooltip" data-placement="top"
                                    title="Bookmark this flight"></i>
                            </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col-md-1">
                                <img src="../../assets/images/nok-air-logo.jpg" alt="logo" class="airline-logo">
                            </div>
                            <div class="col-md-11 pl-2">
                                <span>Nok Air DD-8312
                                    <br>Economy class
                                </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="time-block col-md-3">
                                Departure - 20:25<br>
                                Bangkok<span class="airport-code">&nbsp;BKK</span>

                            </div>
                            <div class="time-block col-md-3">
                                Arrival - 21:45<br>
                                Chiang Mai<span class="airport-code">&nbsp;CNX</span>
                            </div>
                        </div>

                    </div>
                </div>
                <a href="/flight_booking/contact" class="btn btn-info mt-2 book align-bottom">Book Now</a>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h4>Summary</h4>
                        <div class="font-weight-bold">BKK&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;CNX</div>
                        <div>1 Person Economy Class</div>
                        <div>Sunday, 03-Nov-2019</div>
                        <div>20:25 - 21:45 <span class="airport-code">(1.20 Hours)</span></div>
                        <div class="text-right mt-5">
                            <div class="row">
                                <div class="col-md-8">Nok Air Economy</div>
                                <div class="col-md-4">1,649 &#3647; </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">VAT 7%</div>
                                <div class="col-md-4">115.43 &#3647; </div>
                            </div>
                            <div class="row font-weight-bold">
                                <div class="col-md-8">Total</div>
                                <div class="col-md-4">1964.43 &#3647; </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <%- include('../includes/footer') %>