<%- include('../includes/header') %>

<link href="../../assets/css/booking_style.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<%- include('../includes/navbar') %>

</head>

<body>
    <div class="container">
        <div class="my-3">
            <h1>Go flight</h1>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="cs00001"
                    checked>
                <label class="form-check-label" for="exampleRadios1">
                    1 radio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="cs00002">
                <label class="form-check-label" for="exampleRadios2">
                    2 radio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="cs00008">
                <label class="form-check-label" for="exampleRadios3">
                    3 radio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="cs00003">
                <label class="form-check-label" for="exampleRadios4">
                    4 radio
                </label>
            </div>
        </div>
        <div class="my-3">
            <h1>Back flight</h1>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios5" value="cs00001"
                    checked>
                <label class="form-check-label" for="exampleRadios5">
                    1 radio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios6" value="cs00002">
                <label class="form-check-label" for="exampleRadios6">
                    2 radio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios7" value="cs00008">
                <label class="form-check-label" for="exampleRadios7">
                    3 radio
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios8" value="cs00420">
                <label class="form-check-label" for="exampleRadios8">
                    4 radio
                </label>
            </div>
        </div>
        <button method="POST" type="submit" class="btn btn-info" onclick="javascript:window.location.href='/flight/booking/verynice'">Book now</button>
    </div>
    <br>
    <div id="gay"></div>

    <script>
        function hahayes() {

            var lis = []
            Array.prototype.forEach.call(document.getElementsByClassName('form-check-input'), function(item) {
                if (item.checked)
                    lis.push(item.value)
            })
            // $.ajax({
            //     url: "/flight/booking/donut",
            //     method: "POST",
            //     data: {
            //         olaola: JSON.stringify(lis)
            //     }
            // }).done(function(urMom) { // check what I sent in comtroller :'(
            //     if (urMom.status == 200){
            //         const ha = urMom.data;

            //         console.log("we return");

            //         gay.textContent = ha;
            //     }
            //         //Here aft
            //     else
            //         console.log('Oh no')
            // })
        }
    </script>


    <%- include('../includes/footer') %>