html, body { 
  margin: 0; 
  padding: 0; 
  width: 100%; 
  height: 100%;
}
.short{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}
.blank{
  color: black;
  background-color: black;
}
.responsive-wrapper{
  width: 100%; 
  height: 100%; 
}
.hotel-pic{
  width: 100%;
  height: 42.85vh;
  object-fit: cover;
  padding: 0;
  background-position: center;
}
.detail-pic{
  width: 100%;
  height: 69vh;
  object-fit: cover;
  padding: 0;
}
.success-color{
  background-color: #388BF2;
  color: white;
}
.form-check{
  margin-bottom: 20px !important;
}
#hiddenLogo{
  display: none;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
h1{
  color: #25282B;
}
