.bg-3 { 
  background-color: #ffffff;
  color: #555555;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}
.active>a {
color: #1abc9c !important;;
}
.form-check{
  margin-bottom: 20px !important;
}
#hiddenLogo{
  display: none;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.hotel-pic{
  width: 100%;
  height: auto;
  background: no-repeat center;
  background-size: contain;
}
