html, body { 
  margin: 0; 
  padding: 0; 
  width: 100%; 
  height: 100%;
}
.responsive-wrapper{
  width: 100%; 
  height: 100%; 
}
.hotel-pic{
  width: 100%;
  height: 42.85vh;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card-pic{
  width: 100%;
  height: 30vh;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.detail-pic{
  width: 100%;
  height: 75vh;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.stroke{
  text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.success-color{
  background-color: #388BF2;
  color: white;
}
.form-check{
  margin-bottom: 20px !important;
}
#hiddenLogo{
  display: none;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
h1{
  color: #25282B;
}
