<%- include('../includes/header') %>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.11.4, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

  <meta name="description" content="">

  <title>Home</title>

  <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="../../assets/theme/css/style.css">
  <link rel="preload" as="style" href="../../assets/mobirise/css/mbr-additional.css">
  <link rel="stylesheet" href="../../assets/mobirise/css/mbr-additional.css" type="text/css">
  <link rel="stylesheet" href="../../assets/css/stylefav.css">

  <!--font-->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">


</head>
<%- include('../includes/navbar') %>

<body>



  <!--<div class="bodyimg">

    <div class=" container align-center">

      <div class="row justify-content-md-center">

        <div class="mbr-white col-md-10">
          <h1 class="headFavTitleHome animehome" style="text-shadow: 1px 1px 3px #313131; color: #efefef;">
            Travel Aloha
          </h1>
        </div>
      </div>
    </div>
  </div>-->
  <br><br>
  <div class="container-fluid" id="myDIV">
    <button class="butdis butdis1" onclick="FavHol()">Favorite Hotel</button>
    <button class="butdis butdis2" onclick="Flight()">Favorite Flight</button>
    <button class="butdis butdis3 active" onclick="showAll()">Favorite All</button></div>
  <!-----------------------------active class------------------------------->
  <script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("myDIV");
    var btns = header.getElementsByClassName("butdis");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function () {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }

  </script>
  <!---------------------------------Fav butyon--------------------------------------->
  <script>
    function FavHol() {
      document.getElementById("FavHol").style.display = "block";
      document.getElementById("Flight").style.display = "none";
    }
    function Flight() {
      document.getElementById("FavHol").style.display = "none";
      document.getElementById("Flight").style.display = "block";
    } function showAll() {
      document.getElementById("FavHol").style.display = "block";
      document.getElementById("Flight").style.display = "block";
    }


  </script>
  <!---------------------------------------------------------------------------------->


  <section class="features18 popup-btn-cards cid-rGM1xfTV6l" id="features18-7">
    <div class="" id="FavHol">
      <h1 class="headFavTitle align-center animehome" style="padding-top:10px; text-shadow: 1px 1px 3px #313131;">
        Favorite Hotel
      </h1>
      <hr class="line">
