<%- include('../includes/header') %>
<link rel="stylesheet" href="../../assets/css/review.css">
<script src="https://kit.fontawesome.com/400150cc58.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('../includes/navbar') %>
    <div class="container-fluid px-0 py-5 mx-auto">
        <div class="row justify-content-center mx-0 mx-md-auto">
            <div class="col-lg-10 col-md-11 px-1 px-sm-2">
                <div class="card border-0 px-3">
                    <!-- display review-->
                    <div class="d-flex shadow-sm row py-5 px-5 ">
                        <h5>Based on 2,097 reviews</h5>
                        <div class="well well-sm">
                            <div class="row">
                                <div class="white-tab col-xs-2 col-md-2 divcircle">
                                    <div class="circlescore">
                                        <div class="circlescorein">
                                            9.5
                                        </div>
                                    </div>
                                    <div class="textscore">
                                        Fantastic
                                    </div>
                                </div>
                                <div class="col-xs-5 col-md-5">
                                    <div class="row rating-desc">
                                        <div class="col-xs-3 col-md-3 text-right">
                                            Fantastic
                                        </div>
                                        <div class="col-xs-5 col-md-6 progressbar ">
                                            <div class="progress" style="height: 10px;">
                                                <div class="progress-bar" role="progressbar" style="width: 40%;"
                                                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3 col-md-3">
                                            <spen class="text-muted">10</spen>
                                        </div>
                                        <div class="col-xs-3 col-md-3 text-right">
                                            Very Good
                                        </div>
                                        <div class="col-xs-5 col-md-6 progressbar">
                                            <div class="progress" style="height: 10px;">
                                                <div class="progress-bar" role="progressbar" style="width: 40%;"
                                                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3 col-md-3">
                                            <spen class="text-muted">10</spen>
                                        </div>
                                        <div class="col-xs-3 col-md-3 text-right">
                                            Satisfying
                                        </div>
                                        <div class="col-xs-5 col-md-6 progressbar">
                                            <div class="progress" style="height: 10px;">
                                                <div class="progress-bar" role="progressbar" style="width: 40%;"
                                                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3 col-md-3">
                                            <spen class="text-muted">10</spen>
                                        </div>
                                        <div class="col-xs-3 col-md-3 text-right">
                                            Average
                                        </div>
                                        <div class="col-xs-5 col-md-6 progressbar">
                                            <div class="progress" style="height: 10px;">
                                                <div class="progress-bar" role="progressbar" style="width: 40%;"
                                                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3 col-md-3">
                                            <spen class="text-muted">10</spen>
                                        </div>

                                        <div class="col-xs-3 col-md-3 text-right">
                                            Poor
                                        </div>
                                        <div class="col-xs-5 col-md-6 progressbar">
                                            <div class="progress" style="height: 10px;">
                                                <div class="progress-bar" role="progressbar" style="width: 40%;"
                                                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-xs-3 col-md-3">
                                            <spen class="text-muted">10</spen>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <div class="row rating-desc">
                                        <div class="col-xs-4 col-md-4 text-right">
                                            Cleanliness
                                        </div>
                                        <div class="col-xs-8 col-md-8">
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                        </div>

                                        <div class="col-xs-4 col-md-4 text-right">
                                            Comfort
                                        </div>
                                        <div class="col-xs-8 col-md-8">
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                        </div>

                                        <div class="col-xs-4 col-md-4 text-right">
                                            Meal
                                        </div>
                                        <div class="col-xs-8 col-md-8">
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                        </div>

                                        <div class="col-xs-4 col-md-4 text-right">
                                            Location
                                        </div>
                                        <div class="col-xs-8 col-md-8">
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                        </div>

                                        <div class="col-xs-4 col-md-4 text-right">
                                            Service
                                        </div>
                                        <div class="col-xs-8 col-md-8">
                                            <div class="rating">
                                                <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Wirie review-->
                        <% if (user) { %>
                        <div class="ml-md-auto p-2 mx-md-2 pt-4 pt-md-3">
                            <button class="shadow btn  btn-red text-dark px-4 " data-toggle="modal"
                                data-target="#exampleModal">
                                WRITE REVIEW</button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">New review</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="POST" action="/hotel">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Title:</label>
                                                    <input type="text" class="form-control" name="Title_Hotel" id="title">
                                                </div>
                                                <div class="form-group">
                                                        <label for="message-text" class="col-form-label">Id hotel:</label>
                                                        <input type="number" class="form-control" name="hotel_hotelId" id="title">
                                                </div>
                                                <div class="form-group">
                                                    <label for="Category">Category:</label>
                                                    <select class="form-control" id="Category" name="Type_Of_Hotel_Reviewer">
                                                        <option value="Business Trip">Business Trip</option>
                                                        <option value="Family Vacation">Family Vacation</option>
                                                        <option value="Romantic Vacation">Romantic Vacation</option>
                                                        <option value="Shopping and Culinary">Shopping and Culinary</option>
                                                        <option value="Backpacking">Backpacking</option>
                                                        <option value="Medical Travel">Medical Travel</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Comment:</label>
                                                    <textarea class="form-control" id="message-text" name="Text_Hotel_Review"></textarea>
                                                </div>
                                                <!--<div class="form-group">
                                                    <label for="message-text" class="col-form-label">Upload
                                                        picture:</label>
                                                    <input type="file" name="" id="Uploadpicture">
                                                </div>-->
                                                <label for="message-text">Score (between 1 and 10):</label>
                                                <div>
                                                    <label for="message-text" class="col-form-label">Cleanliness</label>
                                                    <input type="number" class="form-control" name="Cleanliness_Hotel_Rating" id="Cleanliness"
                                                        min="1" max="10" value="1">
                                                </div>
                                                <div>
                                                    <label for="message-text" class="col-form-label">Comfort</label>
                                                    <input type="number" class="form-control" name="Comfort_Hotel_Rating" id="comfort"
                                                        min="1" max="10" value="1">
                                                </div>
                                                <div>
                                                    <label for="message-text" class="col-form-label">Meal</label>
                                                    <input type="number" class="form-control" name="Meal_Hotel_Rating" id="meal" min="1"
                                                        max="10" value="1">
                                                </div>
                                                <div>
                                                    <label for="message-text" class="col-form-label">Location</label>
                                                    <input type="number" class="form-control" name="Location_Hotel_Rating" id="location"
                                                        min="1" max="10" value="1">
                                                </div>
                                                <div>
                                                    <label for="message-text" class="col-form-label">Service</label>
                                                    <input type="number" class="form-control" name="Service_Hotel_Rating" id="service"
                                                        min="1" max="10" value="1">
                                                </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Send message</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div><% } %>
                    </div>
                    <div class="d-flex">
                        <div class="col-xs-3 col-md-3 ">
                            <label for="Sort">Sort reviews by:</label>
                            <select class="form-control" name="" id="">
                                <option>Recommended</option>
                                <option>Date(newer to older)</option>
                                <option>Date(older to newer)</option>
                                <option>Score(higher to lower)</option>
                                <option>Score(lower to higher)</option>
                            </select>
                        </div>
                        <div class="col-xs-3 col-md-3 ">
                            <label for="Category">Show reviews from:</label>
                            <select class="form-control" name="" id="">
                                <option>All reviewers</option>
                                <option>Business trip</option>
                                <option>Family vacation</option>
                                <option>Romantic vacation</option>
                                <option>Shopping and Culinary</option>
                                <option>Backpacking</option>
                                <option>Medical Travel</option>
                            </select>
                        </div>
                        <div class="col-xs-3 col-md-3 ">
                            <label for="Score">Show reviews by score: </label>
                            <select class="form-control" name="" id="">
                                <option>All review scores</option>
                                <option>Wonderful</option>
                                <option>Good</option>
                                <option>Okey</option>
                                <option>Poor</option>
                                <option>Very poor</option>
                            </select>
                        </div>
                        <div class="col-xs-3 col-md-3 ">
                                
                        </div>
                    </div>
                    <!-- Review by user -->
                    <section class="review p-5 border-1">
                        <div class="row d-flex">
                            <div class="profile-pic"><img src="https://i.imgur.com/Mcd6HIg.jpg" width="60px"
                                    height="60px"></div>
                            <div class="d-flex flex-column pl-3">
                                <a class="black-text" href="#">
                                    <h4>Emily</h4>
                                </a>
                                <p class="grey-text">Thailand</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-0 mb-0">
                            <p class="font-weight-bold">31/10/11 &nbsp•&nbsp Business trip</p>
                            <p class="text-right font-weight-bold">Score <span class="text-info">8.5</span>/10</p>
                        </div>
                        <div class="row pb-3">
                            <p>This dive center is incredibly well organized and is at the top of its game.</p>
                        </div>
                        <div class="row ml-1">
                            <img class="reviewpic"
                                src="https://timedotcom.files.wordpress.com/2018/03/digital-nomad-remote-work-travel.jpg?w=800&quality=85"
                                alt="" />
                            <img class="reviewpic"
                                src="https://timedotcom.files.wordpress.com/2018/03/digital-nomad-remote-work-travel.jpg?w=800&quality=85"
                                alt="">
                        </div>
                        <div class="row mt-2">
                            <div class="rating">
                                <div class="like grow">
                                    <i class="fa fa-thumbs-up like" aria-hidden="true"></i>
                                    <span>Helpful</span>
                                </div>
                                <div class="dislike grow">
                                    <i class="fa fa-thumbs-down like" aria-hidden="true"></i>
                                    <span>Not helpful</span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="review p-5 border-1">
                        <div class="row d-flex">
                            <div class="profile-pic"><img src="https://i.imgur.com/Mcd6HIg.jpg" width="60px"
                                    height="60px"></div>
                            <div class="d-flex flex-column pl-3">
                                <a class="black-text" href="#">
                                    <h4>Emily</h4>
                                </a>
                                <p class="grey-text">Thailand</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-0 mb-0">
                            <p class="font-weight-bold">31/10/11 &nbsp•&nbsp Business trip</p>
                            <p class="text-right font-weight-bold">Score <span class="text-info">8.5</span>/10</p>
                        </div>
                        <div class="row pb-3">
                            <p>This dive center is incredibly well organized and is at the top of its game.</p>
                        </div>
                        <div class="row mt-2">
                            <div class="rating">
                                <div class="like grow">
                                    <i class="fa fa-thumbs-up like" aria-hidden="true"></i>
                                    <span>Helpful</span>
                                </div>
                                <div class="dislike grow">
                                    <i class="fa fa-thumbs-down like" aria-hidden="true"></i>
                                    <span>Not helpful</span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="review p-5 border-1">
                        <div class="row d-flex">
                            <div class="profile-pic"><img src="https://i.imgur.com/Mcd6HIg.jpg" width="60px"
                                    height="60px"></div>
                            <div class="d-flex flex-column pl-3">
                                <a class="black-text" href="#">
                                    <h4>Emily</h4>
                                </a>
                                <p class="grey-text">Thailand</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-0 mb-0">
                            <p class="font-weight-bold">31/10/11 &nbsp•&nbsp Business trip</p>
                            <p class="text-right font-weight-bold">Score <span class="text-info">8.5</span>/10</p>
                        </div>
                        <div class="row ml-1">
                            <img class="reviewpic"
                                src="https://timedotcom.files.wordpress.com/2018/03/digital-nomad-remote-work-travel.jpg?w=800&quality=85"
                                alt="" />
                            <img class="reviewpic"
                                src="https://timedotcom.files.wordpress.com/2018/03/digital-nomad-remote-work-travel.jpg?w=800&quality=85"
                                alt="">
                        </div>
                        <div class="row mt-2">
                            <div class="rating">
                                <div class="like grow">
                                    <i class="fa fa-thumbs-up like" aria-hidden="true"></i>
                                    <span>Helpful</span>
                                </div>
                                <div class="dislike grow">
                                    <i class="fa fa-thumbs-down like" aria-hidden="true"></i>
                                    <span>Not helpful</span>
                                </div>
                            </div>
                        </div>
                    </section>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item nav">
                                <a class="page-link nav" href="#" tabindex="-1">Previous</a>
                            </li>
                            <li class="page-item "><a class="page-link" href="#">1</a></li>
                            <li class="page-item "><a class="page-link" href="#">2</a></li>
                            <li class="page-item "><a class="page-link" href="#">3</a></li>
                            <li class="page-item ">
                                <a class="page-link " href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>

            </div>
        </div>
    </div>

</body>


<script src="../../assets/js/review.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<%- include('../includes/footer') %>