<%- include('../includes/header') %>

	<style>

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>
<body ng-app="applicationPage" ng-controller="applicationPageController as apCtrl">
	<%- include('../includes/navbar') %>

    Application works!!
    <%= info %>

    <select ng-model="selectedDept" 
            ng-options="dept as dept.deptName for dept in deptList" 
            class="d-inline-block form-control mt-3 ml-1"
            style="width: fit-content;" 
            ng-change="generateRole(selectedDept)"
    ></select>
    <select ng-model="selectedRole" 
            ng-options="role as role.roleName for role in roleList" 
            class="d-inline-block form-control mt-3 ml-1"
            style="width: fit-content;"
    ></select>
    <p>Your selected dept: {{ selectedDept }}</p>
    <p>Your selected role: {{ selectedRole }}</p>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
	<script src="../../assets/js/staff_admin/application.js"></script>

<%- include('../includes/footer') %>
