<%- include('../includes/header') %>

	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	
</head>

<body> 

	<%- include('../includes/navbar') %>

    <p>HOMEPAGE works</p>

	<script src="../../assets/js/staff_admin/homepage.js"></script>

<%- include('../includes/footer') %>
