<%- include('../includes/header') %>
<<<<<<< HEAD
<<<<<<< HEAD
<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

<style>
     
         body,html{
             margin: 0;
             padding: 0;
             width: 100%;
             height: 100%;
             background: grey;
             overflow: hidden;
             font-family: 'Roboto', sans-serif;
             font-weight: lighter;
             
         }
         
         #title{
             font-size: 5vh;
         }
         .upper-wave{
             width: 100%;
             height: 37%;
             background: rgb(255, 188, 235);
			 /* opacity: 0%; */
             
         }
     
         .image{
             width: 100%;
             background: url('../../assets/Pictures/staff_admin/purple-mountain.jpg');
             background-size: cover;
             position: relative;
             display: flex;
             padding: 50px;
             box-sizing: border-box;
             justify-content: center;
             height: 73%;
             background-attachment: fixed;
         }
     
         #container{
             width: 100%;
             position: absolute;
             bottom: -6px;
             overflow: hidden;
          
         }
     
         #container svg{
             width: 200%;
             position: relative;
             animation: move-left 5s linear infinite;
             
         }
         
         @keyframes move-left{
             0%{
                 left: 0%;
             }
             100%{
                 left: -100%;
             }
             
         }

     </style>

 </head>
 <%- include('../includes/navbar') %>
<body>
    <div class="image flex-row row justify-content-around">

        <h1 id="title" class="col-12 text-center" style="
        height: 100px;
    "> Staff Admin Dashboard </h1>
        <button class="col-3 btn btn-outline-primary">page1</button>
        <button class="col-3 btn btn-outline-primary">page2</button>
        <button class="col-3 btn btn-outline-primary">page4</button>

=======
=======
>>>>>>> parent of 917463b... [Add] Elements in index.ejs
<%- include('../includes/navbar') %>

	<style>
	
		body,html{
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			background: grey;
			overflow: hidden;
			
		}
		
		.white{
			width: 100%;
			height: 37%;
			background: white;
			
		}
	
		.image{
			width: 100%;
			background: url(NB.jpeg);
			background-size: cover;
			position: relative;
			display: flex;
			padding: 50px;
			box-sizing: border-box;
			justify-content: center;
			height: 73%;
		}
	
		#container{
			width: 100%;
			position: absolute;
			bottom: -6px;
			overflow: hidden;
		 
		}
	
		#container svg{
			width: 200%;
			position: relative;
			animation: move-left 5s linear infinite;
			
		}
		
		@keyframes move-left{
			0%{
				left: 0%;
			}
			100%{
				left: -100%;
			}
			
		}
		
		
		
		
		
		
	</style>
	
	
	
</head>
<body>
	  <div class="image">
  
<<<<<<< HEAD
>>>>>>> parent of 917463b... [Add] Elements in index.ejs
<div id="container">

<svg  
	x="0px"
	y="0px" 
	viewBox="0 0 3841 108.5"
	style="overflow:scroll;enable-background:new 0 0 3841 108.5;" 
	xml:space="preserve">
<defs>
</defs>

<<<<<<< HEAD
<path style="fill:rgb(255, 188, 235);
             stroke-miterlimit:10;" 
            d="M3360.5,97.739c-242,0-480-48.375-480-48.375
                S2647.5,0.5,2400.5,0.5s-480,48.375-480,48.375s-238,48.864-480,48.864s-480-48.375-480-48.375S727.5,0.5,480.5,0.5
                S0.5,48.875,0.5,48.875V108h1920h1920V48.875C3840.5,48.875,3602.5,97.739,3360.5,97.739z"/>
</svg>

<svg  
	 x="100px"
	 y="0px" 
	 viewBox="0 0 3841 108.5"
	 style="overflow:scroll;enable-background:new 0 0 3841 108.5;" 
	 xml:space="preserve">
<defs>
</defs>

<path style="fill:rgb(255, 188, 235);
             stroke-miterlimit:10;" 
            d="M3360.5,97.739c-242,0-480-48.375-480-48.375
                S2647.5,0.5,2400.5,0.5s-480,48.375-480,48.375s-238,48.864-480,48.864s-480-48.375-480-48.375S727.5,0.5,480.5,0.5
                S0.5,48.875,0.5,48.875V108h1920h1920V48.875C3840.5,48.875,3602.5,97.739,3360.5,97.739z"/>
</svg>

=======
=======
<div id="container">

<svg  
	x="0px"
	y="0px" 
	viewBox="0 0 3841 108.5"
	style="overflow:scroll;enable-background:new 0 0 3841 108.5;" 
	xml:space="preserve">
<defs>
</defs>

>>>>>>> parent of 917463b... [Add] Elements in index.ejs
<path style="fill:#FFFFFF;
			stroke-miterlimit:10;" 
		   d="M3360.5,97.739c-242,0-480-48.375-480-48.375
			   S2647.5,0.5,2400.5,0.5s-480,48.375-480,48.375s-238,48.864-480,48.864s-480-48.375-480-48.375S727.5,0.5,480.5,0.5
			   S0.5,48.875,0.5,48.875V108h1920h1920V48.875C3840.5,48.875,3602.5,97.739,3360.5,97.739z"/>
		   </svg>
<<<<<<< HEAD
>>>>>>> parent of 917463b... [Add] Elements in index.ejs
=======
>>>>>>> parent of 917463b... [Add] Elements in index.ejs

</div>
</div>
<div class="upper-wave">
</div>
<<<<<<< HEAD
<<<<<<< HEAD
=======
	
</body>

>>>>>>> parent of 917463b... [Add] Elements in index.ejs
=======
	
</body>

>>>>>>> parent of 917463b... [Add] Elements in index.ejs
<%- include('../includes/footer') %>