<%- include('../includes/header') %>

	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	
</head>

<body> 

	<p>INDEX works</p>

	<a href="/admin/staff/login">Join our company (Login)</a>

	<script src="../../assets/js/staff_admin/index.js"></script>

<%- include('../includes/footer') %>
