<%- include('../includes/header') %>
<style>
     
         body,html{
             margin: 0;
             padding: 0;
             width: 100%;
             height: 100%;
             background: grey;
             overflow: hidden;
             
         }
         
         .white{
             width: 100%;
             height: 37%;
             background:rgb(255, 188, 216);
			 /* opacity: 0%; */
             
         }
     
         .image{
             width: 100%;
             background: url('../../assets/Pictures/staff_admin/purple-mountain.jpg');
             background-size: cover;
             position: relative;
             display: flex;
             padding: 50px;
             box-sizing: border-box;
             justify-content: center;
             height: 73%;
         }
     
         #container{
             width: 100%;
             position: absolute;
             bottom: -6px;
             overflow: hidden;
          
         }
     
         #container svg{
             width: 200%;
             position: relative;
             animation: move-left 3s linear infinite;
             
         }

         #title{
             font-size: 6vh;
             animation: bounce 2s linear infinite;
         }

         @keyframes wiggle{
             0%{
                 bottom: 10%;
             }
             50%{
                 bottom: 0;
             }
             100%{
                 bottom: 10%;
             }
         }

         @keyframes bounce {
            from {
                top: 100px;
                animation-timing-function: ease-out;
            }
            25% {
                top: 50px;
                animation-timing-function: ease-in;
            }
            50% {
                top: 150px;
                animation-timing-function: ease-out;
            }
            75% {
                top: 75px;
                animation-timing-function: ease-in;
            }
            to {
                top: 100px;
            }
            }

            @keyframes fall {
    from, 15% {
        transform: rotate(0) translateX(0);
        opacity: 1;
        animation-timing-function: cubic-bezier(.07,2.02,.67,.57);
    }
    50%, 60% {
        transform: rotate(90deg) translateX(0);
        opacity: 1;
        animation-timing-function: cubic-bezier(.13,.84,.82,1);
    }
    85%, to {
        transform: rotate(90deg) translateX(200px);
        opacity: 0;
    }
}
              
         
         @keyframes move-left{
             0%{
                 left: 0%;
             }
             100%{
                 left: -100%;
             }
             
         }
         
         
         
         
         
         
         
     </style>
     
     
     
 </head>
 <body>
<%- include('../includes/navbar') %>

<div class="image flex-row row justify-content-around align-content-around">

    <h1 id="title" class="col-12 text-center" style="height: 100px;"> Staff Admin Dashboard </h1>

    <button class="col-3 btn btn-info" onclick="window.location='/staff_admin/recruiting'">Staff Recruiting Requests</button>
    <button class="col-3 btn btn-danger" onclick="window.location='/staff_admin/requisition'">Staff Requsition <br> (For admin use only) </button>
    <button class="col-3 btn btn-success" onclick="window.location='/staff_admin/management'">Staff Dashboard</button>
   
<div id="container">
 
<svg  
	 x="0px"
	 y="0px" 
	 viewBox="0 0 3841 108.5"
	 style="overflow:scroll;enable-background:new 0 0 3841 108.5;" 
	 xml:space="preserve">
<defs>
</defs>

<path style="fill: rgb(255, 188, 216);
             stroke-miterlimit:10;" 
            d="M3360.5,97.739c-242,0-480-48.375-480-48.375
                S2647.5,0.5,2400.5,0.5s-480,48.375-480,48.375s-238,48.864-480,48.864s-480-48.375-480-48.375S727.5,0.5,480.5,0.5
                S0.5,48.875,0.5,48.875V108h1920h1920V48.875C3840.5,48.875,3602.5,97.739,3360.5,97.739z"/>
            </svg>

</div>
</div>
<div class="white">
</div>
 </body>
 <%- include('../includes/footer') %>