<%- include('../includes/header') %>
<%- include('../includes/navbar') %>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1" />
		<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css" />
		<title>Staff_Admin_Homepage</title>
	</head>
	<body class="pt-2 pl-3">
		<p>In process 2019/11/2 12:00 PM</p>
		<a href="./staff-recruiting.ejs">Staff Recruiting</a><br/>
		<a href="./staff-requisition.ejs">Staff Requisition</a><br/>
		<a href="./staff-management.ejs">Staff Management</a>

		<script src="../../assets/js/jquery.js"></script>
		<script src="../../assets/js/popper.js"></script>
		<script src="../../assets/js/bootstrap.js"></script>
	</body>


<%- include('../includes/footer') %>