<%- include('../includes/header') %>
	
</head>

<body> 
    
    <p>LOGIN works</p>

    <a href="/admin/staff">Go back to the company page</a>

    <form action="/admin/staff/login" method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username"
            class="form-control" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password"
            class="form-control" required />
        </div>
        <button type="submit" class="btn btn-info">Login</button>
    </form>
    <p class="text-right">No account? <a href="" target="_blank">create one</a></p>

<%- include('../includes/footer') %>
