<%- include('../includes/header') %>

	<style>
		label, span {
			display: inline-block;
		}
		background {
			background-color: #dedede;
		}
		managementForm {
			width: 85%;
			min-width: 320px;
		}
		managementTool {
			width: 300px;
			padding: 1rem 3.5rem 1.2rem 1.5rem;
		}
		staffCard {
			background-color: rgba(248, 248, 248, 0.7);
			width: 220px;
		}
		profileStaff {
			width: 80%;
			height: 160px;
			background-color: black;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center 15%;
		}
	</style>
</head>
<body>
		<%- include('../includes/navbar') %>
	<background class="d-flex w-100 justify-content-center">
		<managementForm class="row flex-wrap justify-content-center my-4">

			<managementTool class="flex-shrink-0">
				Nothing works yet<br/>
				<span>Sort by: </span><br/>
				<span class="mt-2">Options: </span><br/>
				<label class="mt-2">Search: </label><br/>
				<input type="text" id="findStaff" class="form-control" placeholder="Type your wanted info">
				<hr class="w-100 p-1 mt-4" />
				<buttonDirection class="d-block w-100 flex-shrink-0 text-center text-md-right p-2">
					<button id="reloadButton" type="button" class="btn btn-outline-success" style="font-size: 0.85rem;">RELOAD</button>
					<button id="saveButton" type="button" class="btn btn-danger px-4" style="font-size: 0.85rem;">SAVE</button>
				</buttonDirection> 
			</managementTool>

			<staffList class="col d-flex justify-content-center flex-wrap">
				
				<staffCard class="d-flex flex-wrap flex-shrink-0 justify-content-center align-items-center m-2 pt-3 border rounded">
					<profileStaff class="d-block flex-shrink-0 border"></profileStaff>
					
					<infoStaff class="d-block mt-3 flex-shrink-0">
						<p style="font-size: 0.9rem;">
							<yTitle class="text-capitalize font-weight-bold"></yTitle>:
							&nbsp;<yDetail></yDetail>
						</p>
					</infoStaff>

					<buttonDirection class="d-block w-100 flex-shrink-0 text-center text-md-right px-3 pt-2 pb-3">
						<button id="checkingButton" type="button" class="btn btn-primary" style="font-size: 0.85rem;">SEE & EDIT</button>
					</buttonDirection>
				</staffCard>

			</staffList>
			
		</managementForm>
	</background>

	<script src="../../assets/js/staff_admin/management.js"></script>

<%- include('../includes/footer') %>