<%- include('../includes/header') %>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
	
</head>

<body ng-app="profile" ng-controller="profileController as pfCtrl"> 

    <%- include('./navbar') %>
    
    <p>PROFILE WORKS</p>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

	<script src="../../assets/js/staff_admin/profile.js"></script>

<%- include('../includes/footer') %>
