<%- include('../includes/header') %>
	
</head>

<body> 
	<%- include('./navbar') %>
	
	<p>REGISTRATION works</p>

	<script src="../../assets/js/staff_admin/registration.js"></script>

<%- include('../includes/footer') %>
