<%- include('../includes/header') %>
<%- include('../includes/navbar') %>
	<style>
	img.profile{
            width:100px;height:100px; 
            float:left;
            margin: 0.3%;
        }
	</style>

</head>
<body style="background-color: whitesmoke;">
    <div style="padding:20px">
    <h1 style="font-size: 3em;">Staff Requisition</h1><br>
    <h2>Staff List</h2>
	<hr class="w-100 p-1 my-3" />
	
    <img src="../../assets/Pictures/staff_admin/staff-icon.png" class="profile"> ID Here
    <button class="btn btn-danger" style="float:right" onclick="reject()">Reject</button>
    <button class="btn btn-primary" style="float:right" onclick="approve()">Approve</button>
    <p>Name : no name</p>
    <p>Job : no</p>
    <p>Work Dept : not yet</p>
    <hr class="w-100 p-1 my-4" />

    <img src="../../assets/Pictures/staff_admin/staff-icon.png" class="profile"> ID Here
    <button class="btn btn-danger" style="float:right" onclick="reject()">Reject</button>
    <button class="btn btn-primary" style="float:right" onclick="approve()">Approve</button>
    <p>Name : no name</p>
    <p>Job : no</p>
    <p>Work Dept : not yet</p>
	<hr class="w-100 p-1 my-4" />
	
    </div>
	<script src="../../assets/js/staff_admin/requisition.js"></script>

<%- include('../includes/footer') %>