<%- include('../includes/header') %>
<%- include('../includes/navbar') %>
	<style>
	img.profile{
            width:100px;height:100px; 
            float:left;
            margin: 0.3%;
        }
	</style>

</head>
<body style="background-color: whitesmoke;">
    <div style="padding:20px">
    <h1 style="font-size: 3em;">Staff Requisition</h1><br>
    <h2>Staff List</h2>
	<hr class="w-100 p-1 my-3" />
	
    <img src="../../assets/Pictures/staff_admin/staff-icon.png" class="profile"> ID Here
    <button class="btn btn-danger" style="float:right" onclick="reject()">Reject</button>
    <button class="btn btn-primary" style="float:right" data-toggle="modal" data-target="#Appr">Approve</button>
    <p>Name : no name</p>
    <p>Job : no</p>
    <p>Work Dept : not yet</p>
    <hr class="w-100 p-1 my-4" />

    <img src="../../assets/Pictures/staff_admin/staff-icon.png" class="profile"> ID Here
    <button class="btn btn-danger" style="float:right" onclick="reject()">Reject</button>
    <button class="btn btn-primary" style="float:right" data-toggle="modal" data-target="#Appr">Approve</button>
    <p>Name : no name</p>
    <p>Job : no</p>
    <p>Work Dept : not yet</p>
	<hr class="w-100 p-1 my-4" />
    
    
        <!--Modal Start-->
    <div class="modal" id="Appr">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <div class="modal-header">
              <h3 class="modal-title">Approve this staff?</h3>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <div class="modal-body">
              <p>Please Check whether you want to grant these access to the selected staff</p>
              <input type="checkbox" id="cC">Create <br> 
              <input type="checkbox" id="cR">Read <br>
              <input type="checkbox" id="cU">Update <br> 
              <input type="checkbox" id="cD">Delete <br>
            </div>
            <div class="modal-footer">
                Result<br>
                <input type="text" value="0100" id="crudshow" readonly>
                <button class="btn btn-primary" style="float:right" onclick="confirmCRUD()">Confirm</button>
                <button class="btn btn-warning" style="float:right" data-dismiss="modal">Cancel</button>
               
            </div>

           </div>
    </div>
    </div><!-- Modal End-->

    </div>
	<script src="../../assets/js/staff_admin/requisition.js"></script>

<%- include('../includes/footer') %>