<%- include('../includes/header') %>
	<style>
	profileStaff{
            width:8rem;height:8rem; 
            float:left;
            margin: 0.3%;
            background-size: cover;
        }
    input.cb{
      height:1.8em;
      width:1.8em;
      vertical-align: middle;
      
    }
	</style>

</head>
<body style="background-color: whitesmoke;">
    <%- include('../includes/navbar') %>
    <div style="padding:20px">
    <h1 style="font-size: 3em;">Staff Requisition</h1><br>
	<hr class="w-100 p-1 my-3" />
	
    <staffList>
    <staffCard>
    <infoStaff>
        <button class="btn btn-danger" style="float:right" onclick="reject()">Reject</button>
        <button class="btn btn-primary" style="float:right" data-toggle="modal" data-target="#Appr">Approve</button>
      <profileStaff class="d-block flex-shrink-0 border"></profileStaff>
      <p style="font-size: 0.9rem;">
      <yTitle class="text-capitalize font-weight-bold"></yTitle>:
      &nbsp;<yDetail></yDetail>
      </p>
    </infoStaff>
    <hr class="w-100 p-1 my-4" />
    </staffCard>
    </staffList>
    
        <!--Modal Start-->
    <div class="modal" id="Appr">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <div class="modal-header">
              <h3 class="modal-title">Approve this staff?</h3>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <div class="modal-body">
                <h4>Staff ID : 00</h4>
              <p>Please Check whether you want to grant these access to the selected staff</p>
              <p>Note :You'll be able to check Update and Delete after you check Read permission</p>
              <input type="checkbox" class="cb" id="cC">Create <br> 
              <input type="checkbox" class="cb" id="cR" onclick="showUD()">Read <br>
              <input type="checkbox" class="cb" id="cU" style="display: none;">Update <br> 
              <input type="checkbox" class="cb" id="cD" style="display: none;">Delete <br>
            </div>
            <div class="modal-footer">
                <input type="text" value="0000" id="crudshow" readonly style="display:none">
                <button class="btn btn-primary" style="float:right" onclick="confirmCRUD()">Confirm</button>
                <button class="btn btn-warning" style="float:right" data-dismiss="modal">Cancel</button>
               
            </div>

           </div>
    </div>
    </div><!-- Modal End-->

    </div>
  <script src="../../assets/js/staff_admin/requisition.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<%- include('../includes/footer') %>
