<%- include('../includes/header') %>
<%- include('../includes/navbar') %>
	<style>
	profileStaff{
            width:100px;height:100px; 
            float:left;
            margin: 0.3%;
            background-size: cover;
        }
	</style>

</head>
<body style="background-color: whitesmoke;">
    <div style="padding:20px">
    <h1 style="font-size: 3em;">Staff Requisition</h1><br>
    <h2>Staff List</h2>
	<hr class="w-100 p-1 my-3" />
	
    <!--<img src="../../assets/Pictures/staff_admin/staff-icon.png" class="profile"> ID Here
    <button class="btn btn-danger" style="float:right" onclick="reject()">Reject</button>
    <button class="btn btn-primary" style="float:right" data-toggle="modal" data-target="#Appr">Approve</button>
    Name : Somsri Jalernmak<br>
    Gender : F <br>
    Department : CS <br>
    Desired Salary: 17500 Baht <br>
    <hr class="w-100 p-1 my-4" />

    <img src="../../assets/Pictures/staff_admin/staff-icon.png" class="profile"> ID Here
    <button class="btn btn-danger" style="float:right" onclick="reject()">Reject</button>
    <button class="btn btn-primary" style="float:right" data-toggle="modal" data-target="#Appr">Approve</button>
    Name : Soncye somgreat<br>
    Gender : M <br>
    Department : CS <br>
    Desired Salary : 21000 Baht <br>
    <hr class="w-100 p-1 my-4" />-->
    <staffList>
    <staffCard>
    <infoStaff>
        <button class="btn btn-danger" style="float:right" onclick="reject()">Reject</button>
        <button class="btn btn-primary" style="float:right" data-toggle="modal" data-target="#Appr">Approve</button>
      <profileStaff class="d-block flex-shrink-0 border"></profileStaff>
      <p style="font-size: 0.9rem;">
      <yTitle class="text-capitalize font-weight-bold"></yTitle>:
      &nbsp;<yDetail></yDetail>
      </p>
    </infoStaff>
    <hr class="w-100 p-1 my-4" />
    </staffCard>
    </staffList>
    
        <!--Modal Start-->
    <div class="modal" id="Appr">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <div class="modal-header">
              <h3 class="modal-title">Approve this staff?</h3>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <div class="modal-body">
                <h4>Staff ID : 00</h4>
              <p>Please Check whether you want to grant these access to the selected staff</p>
              <input type="checkbox" id="cC" onclick="showUD()">Create <br> 
              <input type="checkbox" id="cR" checked>Read <br>
              <input type="checkbox" id="cU" style="display: none;">Update <br> 
              <input type="checkbox" id="cD" style="display: none;">Delete <br>
            </div>
            <div class="modal-footer">
                <input type="text" value="0100" id="crudshow" readonly style="display:none">
                <button class="btn btn-primary" style="float:right" onclick="confirmCRUD()" data-dismiss="modal">Confirm</button>
                <button class="btn btn-warning" style="float:right" data-dismiss="modal">Cancel</button>
               
            </div>

           </div>
    </div>
    </div><!-- Modal End-->

    </div>
  <script src="../../assets/js/staff_admin/requisition.js"></script>

<%- include('../includes/footer') %>