<%- include('../includes/header') %>
<%- include('../includes/navbar') %>

	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1"/>
		<link rel="stylesheet" type="text/css" href="../../assets/css/bootstrap.css"/>
		<title>Staff Management</title>
	</head>
	<body>
		Staff Management Works!!

		<script src="../../assets/js/jquery.js"></script>
		<script src="../../assets/js/popper.js"></script>
		<script src="../../assets/js/bootstrap.js"></script>
		<script src="../../assets/js/staff-management.js"></script>
	</body>

    <%- include('../includes/footer') %>