<%- include('../includes/header') %>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" integrity="sha256-FdatTf20PQr/rWg+cAKfl6j4/IY3oohFAJ7gVC3M34E=" crossorigin="anonymous">

</head>

<body>
<%- include('../includes/navbar') %>

    <!-- Description -->
    <div class="container">
        <div class="py-4 row">
            <div class="col-sm-10">
                <h1>Coupon Management</h1>
            </div>
            <div class="col-sm-2">
                <button class="btn btn-primary w-100" data-toggle="modal" data-target="#addModal">Add</button>
            </div>
        </div>
        <form>
            <div class="form-row">
                <div class="form-group col-sm-3">
                    <select class="form-control" id="inlineFormCustomSelectPref">
                        <option value="1" selected>Code</option>
                        <option value="2">Description</option>
                        <option value="3">Name</option>
                    </select>
                </div>
                <div class="form-group col-sm-8">
                    <!-- Search-->
                    <input class="form-control" type="text" placeholder="Search" id="search">
                </div>
                <div class="form-group col-sm-1">
                    <!-- Search button-->
                    <button type="button" class="btn btn-primary" id="searchBut">Search</button>
                </div>
            </div>
            <!-- Level-->
            <div class="form-group row">
                <label class="col-form-label col-md-1">Level</label>
                <div class="col-md-11">
                    <select name="coupon-search-level" class="form-control coupon-level-select" multiple="multiple">
                        <option value="lv4" selected>Diamond</option>
                        <option value="lv3" selected>Platinum</option>
                        <option value="lv2" selected>Gold</option>
                        <option value="lv1" selected>Silver</option>
                    </select>
                </div>
            </div>
            <!--Type-->
            <div class="form-group row">
                <div class="col-md-1">Type</div>
                <div class="col-md-11">
                    <div class="form-check form-check-inline">
                        <input type="checkbox" id="customCheckboxInline1" name="customCheckboxInline1"
                            class="form-check-input">
                        <label class="form-check-label" for="customCheckboxInline1">Flight</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="checkbox" id="customCheckboxInline2" name="customCheckboxInline1"
                            class="form-check-input">
                        <label class="form-check-label" for="customCheckboxInline2">Hotel</label>
                    </div>
                </div>
            </div>
        </form>
        <div>
            <br>
            <!-- Table-->
            <div class="table-responsive-xl">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">No.</th>
                            <th scope="col">CODE</th>
                            <th scope="col">TYPE</th>
                            <th scope="col">START DATE</th>
                            <th scope="col">EXPIRE DATE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>FTUFTGIK90</td>
                            <td>Hotel</td>
                            <td>2019-11-5</td>
                            <td>2021-04-23</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>EERTDTRY20</td>
                            <td>Flight</td>
                            <td>2019-11-5</td>
                            <td>2023-06-16</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>TDRSTKKU60</td>
                            <td>Hotel</td>
                            <td>2019-11-5</td>
                            <td>2024-02-24</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>HTEUKHY30</td>
                            <td>Hotel</td>
                            <td>2019-11-5</td>
                            <td>2024-02-24</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>DRTNAQWX40</td>
                            <td>Flight</td>
                            <td>2019-11-5</td>
                            <td>2024-02-24</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>HYWQLPOI80</td>
                            <td>Flight</td>
                            <td>2019-11-5</td>
                            <td>2024-02-24</td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>ZXQRTHLO40</td>
                            <td>Hotel</td>
                            <td>2019-11-5</td>
                            <td>2024-02-24</td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>HCNRELQW30</td>
                            <td>Flight</td>
                            <td>2019-11-5</td>
                            <td>2024-02-24</td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>GVMIUTGF75</td>
                            <td>Flight</td>
                            <td>2019-11-5</td>
                            <td>2024-02-24</td>
                        </tr>
                        <tr>
                            <th scope="row">10</th>
                            <td>EDFULZAW40</td>
                            <td>Hotel</td>
                            <td>2019-11-5</td>
                            <td>2024-02-24</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Pagination-->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
            </ul>
        </nav>

        <%- include('admin-coupon-form-modal') %>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js" integrity="sha256-wfVTTtJ2oeqlexBsfa3MmUoB77wDNRPqT1Q1WA2MMn4=" crossorigin="anonymous"></script>
    <script src="/assets/js/admin-coupon.js"></script>
<%- include('../includes/footer') %>