<%- include('../includes/header') %>
<%- include('../includes/navbar') %>

</head>

<div class="container mt-3">
    <h1>Content goes here!</h1>
</div>

<script src="/assets/js/admin-flight.js"></script>

<%- include('../includes/footer') %>
