<%- include('../includes/header') %>

<div class="container">
    <h1><%= pageTitle %></h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><br><img src="/assets/uploads/" class="rounded-circle" width="90" alt="image" > </li>
        <li class="list-group-item">User Name: </li>
        <li class="list-group-item">Email: </li>
        <li class="list-group-item">First Name: </li>
        <li class="list-group-item">Last Name: </li>
        <li class="list-group-item">Gender: </li>
        <li class="list-group-item">Birth Date: </li>
        <li class="list-group-item">Phone Number: </li>
        <li class="list-group-item">User Role: </li>
    </ul>

</div>
</div>
</body>
</html>
