<%- include("../includes/header") %>
<%- include("../includes/navbar") %>
<link rel="stylesheet" type="text/css" href="../../assets/css/history1.css"> 
          
<style>



        
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                background-color: #333;
            }
            
            li {
                float: left;
            }
            
            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            
            li a:hover:not(.active) {
                background-color: #111;
            }
            
            .active {
                background-color: #4CAF50;
            }
        </style>
        </head>

<body>
<!--
<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li style="float:right"><a class="active" href="#about">About</a></li>
</ul>-->


               
                <div class="row">

                    <!--User Info side (left)-->
                    <div class="col-sm-3 ta-user-info">
                      <h4 class="user-name"><b>Carl 'CJ' Johnson</b></h4>
                      <hr class="hrColor">
                      <div class="user-info">
                        <div class="user-level">
                          <b class="badge badge-level">Level: 30</b>
                        </div>
                        <div class="user-points">
                          <span class="left badge badge-points-rank badge-points-rank">Points: 200</span>
                          <span class="right badge badge-silver badge-points-rank">Silver</span>
                        </div>
                      </div>
                    </div>
            
        </body>

        </html>

        <!-- <table style="background-color: #87CEFA " cellspacing=7 cellpadding=7 width=1185 height=800><tbody><tr><td 
        style="border-right:4px solid;border-top:4px solid;border-left:4px solid;border-bottom:4px solid">
        Booking Number ::
        Place :: Dusit Thani , Bangkok
        Reserve for :: 3 seats
        Start-Date 
        End-Date  -->

<!-- </td></tr></tbody></table> -->
<head>
    <style>
    table, th, td {
      border: 0.0px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 10px;
    }
    </style>
    </head>
<div><h2> HISTORY DETAILS</h2></div>
    <div>
    <br>
    <h3> Flight</h3>
    <br>
  </div>

     


        <table style="width:70%">
            <tr>
                <td>Booking Number</td>
                <!--th = แนวนอน -->
                <td>164841220</td>

            </tr>
            <tr>
                <td>Place</td>
                <!--th = แนวนอน -->
                <td>Suvarnabhumi Airport, GATE4</td>

            </tr>
            <tr>
                <td>Start-Date</td>
                <!--th = แนวนอน -->
                <td>9/11/2019</td>

            </tr>
            <tr>
                <td>End-Date</td>
                <!--th = แนวนอน -->
                <td>16/11/2019</td>

            </tr>
            <tr>
                <td>Booking Date</td>
                <!--th = แนวนอน -->
                <td>6/11/2019</td>

            </tr>
            <tr>
                <td>Status</td>
                <!--th = แนวนอน -->
                <td>Complete</td>
            </tr>
        </table>

        <!--User Info side (left)-->

        </div>