<%- include("../includes/header") %>
<%- include("../includes/navbar") %>


<script src="../../assets/js/history/history.js"></script>

<script>

  var fromEJS = '<%- JSON.stringify(headArr) %>'
  var allRecord = JSON.parse(fromEJS);


</script>


<!--This is custom CSS-->
<link rel="stylesheet" type="text/css" href="../../assets/css/history.css">
</head>

<body onload="loadPage()">
  <div class="row">
    <!--User Info side (left)-->
    <div class="col-sm-3 ta-user-info">
      <h4 class="user-name"><b id="userName">
          Hello
        </b></h4>
      <hr class="hrColor">
      <div class="user-info">
        <div class="user-level">
          <b class="badge badge-level">Level: <span id="userLvl">30</span></b>
        </div>
        <div class="user-points">
          <span class="left badge badge-points-rank badge-points-rank">Points: <span id="userPoints">200</span></span>
          <span class="right badge-points-rank badge " id="userRank">Silver</span>
        </div>
      </div>
    </div>

    <!--History Header side (right)-->
    <div class="col-sm-9 ta-user-history">

      <h1><b>History</b></h1>

      <div class="history-list" id="histList">

        <!--This is header for each history-->
        
        <!--End of HTML List-->
      </div>
    </div>
    <div id="detailModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Booking details</h4>
          </div>
          <!--Content-->
          <div class="modal-body" id="detailContent">
            <p>Your booking is canceled</p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
     

  <%- include("../includes/footer") %>